pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_InputFiles",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "input"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@toLower(replace(item().name,'.csv',''))",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "emp",
										"activities": [
											{
												"name": "emp data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_InputFiles",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": "input"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_DataBase1",
														"type": "DatasetReference",
														"parameters": {
															"tablename": {
																"value": "@concat(toLower(replace(item().name,'.csv','')),'_del')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "SP_EmpDataLoad",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "emp data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[pro3]",
													"storedProcedureParameters": {
														"pipeline": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"rows_processed": {
															"value": {
																"value": "@activity('emp data').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_PRacticeDB",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "dept",
										"activities": [
											{
												"name": "copy_dept data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@item().name",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_InputFiles",
														"type": "DatasetReference",
														"parameters": {
															"FolderName": "input"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_DataBase1",
														"type": "DatasetReference",
														"parameters": {
															"tablename": {
																"value": "@concat(toLower(replace(item().name,'.csv','')),'_del')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "SP_EmpDataLoad_copy1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "copy_dept data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[pro3]",
													"storedProcedureParameters": {
														"pipeline": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"rows_processed": {
															"value": {
																"value": "@activity('copy_dept data').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_PRacticeDB",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/2e65f4bfaf3d40f586a98e4455552e6c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=2S_50taZbSvVSHaEPaNKnsntDS-m5YSYFh2UmsF-iOk",
					"method": "POST",
					"headers": {
						"Connect-Type": "application/jason"
					},
					"body": {
						"value": "{\n\n\"Message \":\"Data\",\n\n\"Pipeline Name \":{pipeline().Pipeline},\n\n\"Data Factory Name \":\"@{pipeline().DataFactory}\"\n\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-08-31T13:16:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}